<div id="bracket_doc">
<%= form_for(@bracket, remote: true) do |f| %>
  <% if @bracket.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bracket.errors.count, "error") %> prohibited this bracket from being saved:</h2>

      <ul>
      <% @bracket.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

      <div class="center field">
        <%= f.text_field :name, placeholder: "Name it!" %>
      </div>
      <div class="field">
        <%= f.label :tournament_id %>
        <% if @tourneys.any? %>
            <% @options = []  %>
            <% @tourneys.each do |tourney| %>
                <% @options << [tourney.name, tourney.id]%>
            <% end %>
            <%= f.select :tournament_id, options_for_select(@options) %>
        <% else %>
            <%= f.select_tag :tournament_id, options_for_select([['N/A', -1]]) %>
        <% end %>
      </div>


      <div class="actions">
        <%= f.submit "Create Bracket", :class => 'btn btn-primary' %>
      </div>
<% end %>
</div>