<% @grid_row_num = ((@bracket.tournament.matchs.count * 4 ) - 1) %>
      <% @grid_col_num = (Math.log2(@bracket.tournament.matchs.count) + 2) %>
      <% @grid_col_width = (12 / @grid_col_num).to_i %>
      <% @i = 1 %>
      <% while @i <= @grid_row_num do %>
          <% @j = 1 %>
          <div class="row-fluid">
            <% while @j <= @grid_col_num do %>
                <div id="br_row<%= @i %>_col<%= @j %>" class="span<%= @grid_col_width %>">
                  <span class="label">Test</span>
                </div>
                <% @j += 1 %>
            <% end %>
    </div>
    <% @i += 1 %>
<% end %>

<hr style="clear:both;"/>

<%= form_for(@bracket) do |f| %>
    <% if @bracket.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@bracket.errors.count, "error") %> prohibited this bracket from being saved:</h2>

          <ul>
            <% @bracket.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="center">
        <%= f.submit "Save Bracket", :class => 'btn btn-primary'%>
    </div>
<% end %>
