<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @bracket.name %>
</p>

<p>
  <b>User:</b>
  <%= @bracket.user_id %>
</p>

<p>
  <b>Tournament:</b>
  <%= @bracket.tournament_id %>
</p>


<%= link_to 'Edit', edit_bracket_path(@bracket) %> |
<%= link_to 'Back', brackets_path %>
